@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ProductItem>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "Master.cshtml";
	var image = Model.Value<IPublishedContent>("image");
}
<section id="main" class="wrapper">
    <div class="container">
        <header class="major special">
             
            <h2>@Model.Value("productName")</h2>
        </header>
        <div>
            <p>@Model.Value("price")</p>
            <img style="width:50%" src="@image.Url"/>
        </div>
    </div>
</section>